__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.env
.venv
venv/
*.pth
*.yaml
!config.yaml
!config_d4_hackathon.yaml
!dataset_info_d3_liver_ct.yaml
!dataset_info_d4_hackathon.yaml
.ipynb_checkpoints/
*.log
